@page "/"

<div class="projects">
    <div class="projects__header">
        <i class="projects__icon projects__icon--header"></i>
        <h1 class="projects__title">Projects</h1>
    </div>
    <button class="projects__add" @onclick="() => HandleAddProjects(false)">+ New project</button>
    <input class="projects__input" type="text" placeholder="Search projects" @bind="_searchValue" @bind:event="oninput" @onkeyup="() => Pagination()"/>
    @if (_projectsToDisplay.Count != 0)
    {
        <table class="projects__table">
            <tr>
                <th class="projects__table--header" @onclick="() => Pagination(SortType.Lp)">Lp.</th>
                <th class="projects__table--header" @onclick="() => Pagination(SortType.Name)">Project name</th>
                <th class="projects__table--header" @onclick="() => Pagination(SortType.Date)">Date created</th>
                <th class="projects__table--header" @onclick="() => Pagination(SortType.Pinned)">Pinned</th>
                <th>Details</th>
            </tr>
            @foreach(var project in _projectsToDisplay)
            {
                <tr>
                <td>@project.Lp</td>
                <td class="projects__open">
                      <a href="/panel">@project.Name</a>
                </td>
                <td>@project.CreatedDate</td>
                <td><i class="projects__icon projects__icon--pin @(project.Pinned ? "fill" : "")" @onclick="() => PinProject(project.Id)"></i></td>
                <td><i class="projects__icon projects__icon--details"></i></td>
            </tr>
            }
        </table>
    }
    else
    {
        <span>You do not have any projects to display!</span>
    }
    <div class="projects__pagination">
        @for (int i = 1; i <= _pages; i++)
        {
            int pageNumber = i;
            if(_currentPage == i)
            {
                <span class="projects__page show">@i</span>
            } else
            {
                <span class="projects__page" @onclick="() => ChangePage(pageNumber)">@i</span>
            }
        }
    </div>
</div>
@if(_showAddProjects)
{
    <NewProject CloseNewProject="HandleAddProjects"/>
}
@if(_showInfo)
{
    <Notification Info="You have local saved projects" Question="Do you wanna send them to database?" OnConfirm="() => HandleSynchronize(true)" OnCancel="() => HandleSynchronize(false)" />
}